<div class="main">
    <form action="" id="formulario">
        <div class="content">
            <div class="card">
                <h1>Cadastro Dragão</h1>
                <div class="form-item">
                    <label for="nome">Nome:</label>
                    <input type="text" name="nome" id="nome" placeholder="Insira o nome" maxlength="12" [(ngModel)]="request.name">
                </div>
                <div class="form-item">
                    <label for="nome">Tipo:</label>
                    <input type="text" name="tipo" id="type" placeholder="Insira o tipo" maxlength="12" [(ngModel)]="request.type">
                </div>
                <div class="button">
                    <button class="btn ver" (click)="save()">Cadastrar</button>
                    <button class="btn" routerLink="/dragon-page">Cancelar</button>

                </div>
            </div>
        </div>
    </form>

</div>